{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type="text/css" href= '{% static "style.css" %}'>
</head>
<body>
    <header>
        <h1>{% block pagename %}Главная страница{% endblock %}</h1>
    </header>

    <nav>
        {% block menu %}
        <ul>
            <li><a href="{% url 'main' %}" class="menu-link">Главная</a></li>
            <li><a href="{% url 'detection' %}" class="menu-link">Распознавание изображения</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="menu-link">Выход пользователя</a></li>
            {% else %}
            <li><a href="{% url 'registration' %}" class="menu-link">Регистрация</a></li>
            <li><a href="{% url 'login' %}" class="menu-link">Авторизация</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <ul>
        <li><p>На этом сайте можно распознать объекты на картинке с помощью ИИ.</p></li>
        <li><p>Модель нейросети: MobileNet SSD</p></li>
        </ul>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
        {% endblock %}
    </main>
</body>
</html>
