{% extends 'menu.html' %}

{% block pagename %}
    <h1> Регистрация </h1>
{% endblock %}


{% block content %}
    {% if info.error %}
        <div style="color: red;">
            {{ info.error }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required
        value="{{ info.username|default:'' }}">

        <label for="password">Введите пароль</label>
        <input type="password" id="password" name="password" minlength="8" required
        value="{{ info.password|default:'' }}">

        <label for="repeat_password">Повторите пароль</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required
        value="{{ info.repeat_password|default:'' }}">

        <label for="age">Введите возраст</label>
        <input type="number" id="age" name="age" maxlength="3" required
        value="{{ info.age|default:'' }}">

        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Отправить</button>
    </form>
{% endblock %}